.vs/
.vscode/
.idea/
bin/
obj/
appsettings.Development.json
appsettings.json
appsettings.Production.json
Properties/

node_modules/
dist/
build/
coverage/
*.log
*.tsbuildinfo

.DS_Store

Thumbs.db
ehthumbs.db

*.log

package-lock.json
yarn.lock

*.tsbuildinfo

.expo/
