.navbar {
    background-color: #3b3b3b;
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* Space between the navbar items */
    align-items: center; /* Centers items vertically */
    width: 100%; /* Make sure the navbar spans the full width */
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem; /* Adds space between navbar items */
  }
  
  .navbar li {
    font-size: 1.2rem;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  